In [1]:
import pandas as pd
import pandas_datareader as pdr

In [4]:
def prep(symbol_list, start_date, end_date):
    for item in symbol_list:
        stocks = pdr.get_data_tiingo(symbol_list, api_key="83b56978f4990f78e6c167d8886f4510ead7676c", start=start_date, end=end_date)
    df = stocks.reset_index(level=0, drop=False)
    df.index = df.index.date
    df = df.filter(['symbol','adjClose'], axis=1)
    df = df.pivot(columns='symbol', values='adjClose')
    df.columns = sorted(symbol_list, key=lambda L: (L.lower(), L))
    df.to_excel('df.xlsx')
    return df

In [5]:
prep(['BTCUSD', 'ETHUSD', 'ETHEUR', 'LTCUSD', 'BTCEUR'], "01-01-2019", "06-30-2019")

                  BTCEUR        BTCUSD      ETHEUR      ETHUSD      LTCUSD
2019-01-02   3531.807553   3823.440000  138.363119  155.536044   32.996713
2019-01-03   3389.234948   3885.870000  131.365343  148.151635   31.652143
2019-01-04   3432.299285   3787.810000  137.152935  154.501748   32.048692
2019-01-05   3393.222242   3817.710000  136.802841  154.963626   34.742937
2019-01-06   3613.054245   3791.840000  139.056382  157.017373   38.976392
...                  ...           ...         ...         ...         ...
2019-06-27   9791.964962  11211.652222  261.690059  294.706393  115.136349
2019-06-28  10877.524477  12378.092325  272.600000  310.007259  119.895327
2019-06-29  10435.601196  11897.826578  279.200000  317.996030  133.802655
2019-06-30   9479.702449  10828.831250  255.610000  292.038793  122.617743
2019-07-01   9371.848079  10611.607123  259.700000  294.763223  122.764938

[181 rows x 5 columns]

In [6]:
prep(['BTCUSD', 'ETHUSD', 'ETHEUR', 'LTCUSD', 'BTCEUR'], "01-01-2019", "06-30-2019")

symbol            BTCEUR        BTCUSD      ETHEUR      ETHUSD      LTCUSD
2019-01-02   3531.807553   3823.440000  138.363119  155.536044   32.996713
2019-01-03   3389.234948   3885.870000  131.365343  148.151635   31.652143
2019-01-04   3432.299285   3787.810000  137.152935  154.501748   32.048692
2019-01-05   3393.222242   3817.710000  136.802841  154.963626   34.742937
2019-01-06   3613.054245   3791.840000  139.056382  157.017373   38.976392
...                  ...           ...         ...         ...         ...
2019-06-27   9791.964962  11211.652222  261.690059  294.706393  115.136349
2019-06-28  10877.524477  12378.092325  272.600000  310.007259  119.895327
2019-06-29  10435.601196  11897.826578  279.200000  317.996030  133.802655
2019-06-30   9479.702449  10828.831250  255.610000  292.038793  122.617743
2019-07-01   9371.848079  10611.607123  259.700000  294.763223  122.764938

[181 rows x 5 columns]

In [7]:
df = prep(['BTCUSD', 'ETHUSD', 'ETHEUR', 'LTCUSD', 'BTCEUR'], "01-01-2019", "06-30-2019")

In [8]:
df.to_excel('df.xlsx')